# Data transformation - Wide to Long Data

## Foreign Permanent Residents in Switzerland 1980-2021

Helpful links:
https://www.statology.org/pandas-wide-to-long/
https://towardsdatascience.com/reshaping-a-pandas-dataframe-long-to-wide-and-vice-versa-517c7f0995ad

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
fresidents_df = pd.read_excel("Foreign_permanent_residents_CH.xlsx")

In [3]:
fresidents_df.head(10)

,Citizenship,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Belgium,4398.0,4508.0,4753.0,4829.0,5017.0,5112.0,5245.0,5353.0,5494.0,...,11535.0,12091.0,12535.0,12927.0,13087.0,13287.0,13474.0,13699.0,14123.0,14471.0
1,Bulgaria,552.0,574.0,571.0,557.0,556.0,543.0,531.0,546.0,556.0,...,4429.0,5167.0,5826.0,6443.0,7836.0,9097.0,10054.0,11831.0,13354.0,14658.0
2,Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5936.0,6219.0,6947.0,7510.0,7889.0,8144.0,8407.0,8762.0,9176.0,9559.0
3,Denmark,1744.0,1839.0,1884.0,1892.0,1931.0,1942.0,1940.0,2000.0,2081.0,...,4687.0,4779.0,4894.0,4897.0,4773.0,4580.0,4457.0,4330.0,4360.0,4327.0
4,Germany,87389.0,86326.0,85902.0,84548.0,83691.0,82143.0,81379.0,81466.0,81711.0,...,284172.0,292291.0,298027.0,300691.0,303525.0,304571.0,306188.0,307387.0,309459.0,311299.0
5,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,570.0,601.0,716.0,765.0,826.0,860.0,908.0,967.0,1033.0,1093.0
6,Ireland,612.0,635.0,671.0,701.0,710.0,744.0,799.0,905.0,963.0,...,3517.0,3773.0,3934.0,4074.0,4189.0,4279.0,4503.0,4691.0,5030.0,5385.0
7,Greece,9018.0,9299.0,9396.0,9204.0,9129.0,8931.0,8728.0,8637.0,8561.0,...,8678.0,9788.0,10577.0,11453.0,12345.0,13374.0,14439.0,15520.0,16673.0,17695.0
8,Spain,98098.0,100534.0,103438.0,105101.0,106863.0,109232.0,111234.0,113440.0,114875.0,...,69437.0,75333.0,79610.0,82334.0,83337.0,83253.0,83657.0,84362.0,86220.0,88401.0
9,France,48002.0,48075.0,48554.0,48609.0,49060.0,48948.0,49044.0,49461.0,49938.0,...,104022.0,110103.0,116896.0,122970.0,126970.0,131050.0,134844.0,138947.0,145461.0,151039.0

In [4]:
fresidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 43 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Citizenship  209 non-null    object
 1   1980         179 non-null    float64
 2   1981         179 non-null    float64
 3   1982         179 non-null    float64
 4   1983         179 non-null    float64
 5   1984         179 non-null    float64
 6   1985         179 non-null    float64
 7   1986         179 non-null    float64
 8   1987         179 non-null    float64
 9   1988         180 non-null    float64
 10  1989         180 non-null    float64
 11  1990         180 non-null    float64
 12  1991         181 non-null    float64
 13  1992         198 non-null    float64
 14  1993         202 non-null    float64
 15  1994         202 non-null    float64
 16  1995         202 non-null    float64
 17  1996         202 non-null    float64
 18  1997         202 non-null    float64
 19  1998         202 non-null    float64
 20  1999         203 non-null    float64
 21  2000         203 non-null    float64
 22  2001         199 non-null    float64
 23  2002         199 non-null    float64
 24  2003         200 non-null    float64
 25  2004         200 non-null    float64
 26  2005         200 non-null    float64
 27  2006         200 non-null    float64
 28  2007         200 non-null    float64
 29  2008         200 non-null    float64
 30  2009         200 non-null    float64
 31  2010         201 non-null    float64
 32  2011         201 non-null    float64
 33  2012         202 non-null    float64
 34  2013         202 non-null    float64
 35  2014         202 non-null    float64
 36  2015         202 non-null    float64
 37  2016         202 non-null    float64
 38  2017         203 non-null    float64
 39  2018         203 non-null    float64
 40  2019         203 non-null    float64
 41  2020         203 non-null    float64
 42  2021         206 non-null    float64
dtypes: float64(42), object(1)
memory usage: 70.3+ KB

In [5]:
# convert from wide to long with pdmelt, first create list for the years
year_list = list(fresidents_df.loc[:,fresidents_df.columns != "Citizenship"])
fresidents_long = pd.melt(fresidents_df, id_vars = "Citizenship", value_vars = year_list, var_name = "Year", value_name = "Population")

In [6]:
fresidents_long.head(20)

    Citizenship  Year  Population
0       Belgium  1980      4398.0
1      Bulgaria  1980       552.0
2       Czechia  1980         NaN
3       Denmark  1980      1744.0
4       Germany  1980     87389.0
5       Estonia  1980         NaN
6       Ireland  1980       612.0
7        Greece  1980      9018.0
8         Spain  1980     98098.0
9        France  1980     48002.0
10      Croatia  1980         NaN
11        Italy  1980    423008.0
12       Cyprus  1980       123.0
13       Latvia  1980         NaN
14    Lithuania  1980         NaN
15   Luxembourg  1980       731.0
16      Hungary  1980      6213.0
17        Malta  1980        65.0
18  Netherlands  1980     10243.0
19      Austria  1980     31986.0

In [7]:
fresidents_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Citizenship  8778 non-null   object
 1   Year         8778 non-null   object
 2   Population   8197 non-null   float64
dtypes: float64(1), object(2)
memory usage: 205.9+ KB

In [8]:
# write to Excel
# fresidents_long.to_excel("LONG_Foreign_residents_CH.xlsx", index = False)